<mat-dialog-content class="w-full p-2">
  <h2 mat-dialog-title class="mb-4">Editar Colaborador</h2>
  <form [formGroup]="editForm" class="space-y-4">
    <mat-form-field>
      <mat-label>CPF</mat-label>
      <input matInput formControlName="cpf" />
    </mat-form-field>

    <mat-form-field>
      <mat-label>Nome</mat-label>
      <input matInput formControlName="nome" />
    </mat-form-field>

    <mat-form-field>
      <mat-label>Cargo</mat-label>
      <input matInput formControlName="cargo" />
    </mat-form-field>

    <mat-form-field>
      <mat-label>Setor</mat-label>
      <input matInput formControlName="setor" />
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions class="pt-4 border-t mt-4">
  <button mat-button (click)="onNoClick()" class="mr-4">Cancelar</button>
  <button mat-button [mat-dialog-close]="data" (click)="save()">Salvar</button>
</mat-dialog-actions>
